.bg {
  background: rgb(17, 0, 78);
  background: -moz-linear-gradient(
    90deg,
    rgba(17, 0, 78, 1) 28%,
    rgba(0, 0, 0, 1) 98%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(17, 0, 78, 1) 28%,
    rgba(0, 0, 0, 1) 98%
  );
  background: linear-gradient(
    90deg,
    rgba(17, 0, 78, 1) 28%,
    rgba(0, 0, 0, 1) 98%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11004e",endColorstr="#000000",GradientType=1);
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
}

.navbar-brand:hover {
  cursor: pointer;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
}

a {
  font-family: "Patua One", serif;
  color: white;
}
