h2 {
  font-family: "Patua One", serif, cursive;
  font-size: 3rem;
  font-weight: 900;
  color: black;
}

h6 {
  font-family: "Patua One", serif, cursive;
  font-size: 20px;
  margin-top: 20px;
  color: black;
}

.cardbody {
  padding: 20px;
  background-color: #002646;
  border-radius: 5px;
}
.btn2 {
  margin-top: 50px;
  background-color: #33a2ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Patua One", serif;
}
.btn2:hover {
  background-color: #002646;
  font-family: "Patua One", serif;
}
